SECRET_KEY = "YOUR SECRET KEY"
EMAIL_HOST = "YOUR EMAIL HOST"
EMAIL_PORT = EMAIL PORT NO
EMAIL_HOST_USER = "YOUR EMAIL HOST USER"
EMAIL_HOST_PASSWORD = "YOUR EMAIL HOST PASSWORD"
GOOGLE_CLIENT_ID = "YOUR GOOGLE CLIENT ID"
GOOGLE_CLIENT_SECRETS =  "YOUR GOOGLE CLIENT SECRETS"
DB_NAME =  "YOUR DB NAME"
DB_USER = "YOUR DB USER NAME"
DB_PASSWORD = "YOUR DB PASSWORD"
DB_PORT = "YOUR DB PORT"
DB_HOST = "YOUR DB HOST"